{% extends 'Homepage.html.twig' %}
{% block content %}

	<!-- Page top section -->
	<section class="page-top-section set-bg"  data-setbg="{{ asset('template/img/page-top-bg.jpg')}}">
		<div class="container text-white">
			<h2>CONTACT</h2>
		</div>
	</section>
	<!--  Page top end -->

	<!-- Breadcrumb -->
	<div class="site-breadcrumb">
		<div class="container">
			<a href=""><i class="fa fa-home"></i>Home</a>
			<span><i class="fa fa-angle-right"></i>CONTACT</span>
		</div>
	</div>

	<!-- page -->
	<section class="page-section blog-page">
		<div class="container">
			<div id="map-canvas"> 	</div>
			<div class="contact-info-warp">
				<p><i class="fa fa-map-marker"></i>iset, riath, sousse</p>
				<p><i class="fa fa-envelope"></i>dreamshome@deamshome.com</p>
				<p><i class="fa fa-phone"></i>(+215) 73 000 111</p>
			</div>
			<div class="row">
				<div class="col-lg-6">
					<img src="{{ asset('template/img/contact.jpg') }}" alt="">
				</div>
				<div class="col-lg-6">
					<div class="contact-right">
						<div class="section-title">
							<h3>Get in touch</h3>
							<p>Browse houses and flats for sale and to rent in your area</p>
						</div>
						<form class="contact-form">
							<div class="row">
								<div class="col-md-6">
									<input type="text" placeholder="Your name">
								</div>
								<div class="col-md-6">
									<input type="text" placeholder="Your email">
								</div>
								<div class="col-md-12">
									<textarea  placeholder="Your message"></textarea>
									<button class="site-btn">SUMMIT NOW</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- page end -->





{% endblock %}
