{% extends 'Homepage.html.twig' %}
{% block body %}
    {% block header %}{% endblock %}
    {% block content %}
    
	<!-- Hero section -->
	<section class="hero-section set-bg" data-setbg="{{ asset('template/img/bg.jpg')}}">
		<div class="container hero-text text-white">
			<h2>find your place with our local life style</h2>
			<p>Search real estate property records, houses, condos, land and more on leramiz.com®.<br>Find property info from the most comprehensive source data.</p>
			<a href="#" class="site-btn">VIEW DETAIL</a>
		</div>
	</section>
	<!-- Hero section end -->


	<!-- Filter form section -->
	<div class="filter-search">
		<div class="container">
			<form class="filter-form">
				<input type="text" placeholder="Enter a street name, address number or keyword">
				<select>
					<option value="City">City</option>
				</select>
				<select>
					<option value="City">State</option>
				</select>
				<button class="site-btn fs-submit">SEARCH</button>
			</form>
		</div>
	</div>
	<!-- Filter form section end -->

	<!-- Properties section -->
	<section class="properties-section spad" id="TORENT">
		<div class="container">
			<div class="section-title text-center">
				<h3>TO RENT</h3>
				<p>Discover how much the latest properties have been sold for</p>
			</div>
			

			
			<div class="row">
				



             {% for local in locals %}
				<div class="col-md-6">
					<div class="propertie-item set-bg"data-setbg="{{ asset("uploads/photos/#{local.img1}") }}" >
						<div class="rent-notic">FOR Rent</div>
						<div class="propertie-info text-white">
							<div class="info-warp">
								<h5>{{local.ville}}</h5>
								<p><i class="fa fa-map-marker"></i>{{local.adresse}}</p>
							</div>
							<div class="price">{{local.prix}} DT</div>
						</div>
					</div>
				</div>
             {% endfor %}
			</div>
		</div>
	</section>
	<!-- Properties section end -->


	<!-- Services section -->
	
	<!-- Services section end -->


	<!-- feature section -->
	<section class="feature-section spad" id="TOSELL">
		<div class="container">
			<div class="section-title text-center">
				<h3>TO SELL</h3>
				<p>Browse houses and flats for sale and to rent in your area</p>
			</div>
			

			
			<div class="row">
				



             {% for local in locals %}
				<div class="col-md-6">
					<div class="propertie-item set-bg"data-setbg="{{ asset("uploads/photos/#{local.img1}") }}" >
						<div class="sale-notic">FOR SALE</div>
						<div class="propertie-info text-white">
							<div class="info-warp">
								<h5>{{local.ville}}</h5>
								<p><i class="fa fa-map-marker"></i>{{local.adresse}}</p>
							</div>
							<div class="price">{{local.prix}} DT</div>
						</div>
					</div>
				</div>
             {% endfor %}
			</div>
		</div>
	</section>
	<!-- feature section end -->

->

 
    {% endblock %}
    {% block footer %}{% endblock %}
{% endblock %}


