{% extends 'Homepage.html.twig' %}
{% block content %}




	<!-- Page top section -->
	<section class="page-top-section set-bg" data-setbg="{{ asset('template/img/page-top-bg.jpg')}}">
		<div class="container text-white">
			<h2>SINGLE LISTING</h2>
		</div>
	</section>
	<!--  Page top end -->

	<!-- Breadcrumb -->
	<div class="site-breadcrumb">
		<div class="container">
			<a href=""><i class="fa fa-home"></i>Home</a>
			<span><i class="fa fa-angle-right"></i>Single Listing</span>
		</div>
	</div>

	<!-- Page -->
	<section class="page-section">
		<div class="container">
			<div class="row">
				
					<div class="single-list-slider owl-carousel" id="sl-slider">
						<div class="sl-item set-bg" data-setbg="{{ asset("uploads/photos/#{local.img1}") }}">
							<div class="sale-notic">FOR SALE</div>
						</div>
						<div class="sl-item set-bg" data-setbg="{{ asset("uploads/photos/#{local.img1}") }}">
							<div class="sale-notic">FOR SALE</div>
						</div>
						<div class="sl-item set-bg" data-setbg="{{ asset("uploads/photos/#{local.img2}") }}">
							<div class="sale-notic">FOR SALE</div>
						</div>
						<div class="sl-item set-bg" data-setbg="{{ asset("uploads/photos/#{local.img3}") }}">
							<div class="sale-notic">FOR SALE</div>
						</div>
						<div class="sl-item set-bg" data-setbg="">
							<div class="sale-notic">FOR SALE</div>
						</div>
					</div>  
					<div class="owl-carousel sl-thumb-slider" id="sl-slider-thumb">
						<div class="sl-thumb set-bg" data-setbg="{{ asset("uploads/photos/#{local.img1}") }}"></div>
						<div class="sl-thumb set-bg" data-setbg="{{ asset("uploads/photos/#{local.img1}") }}"></div>
						<div class="sl-thumb set-bg" data-setbg="{{ asset("uploads/photos/#{local.img2}") }}"></div>
						<div class="sl-thumb set-bg" data-setbg="{{ asset("uploads/photos/#{local.img3}") }}"></div>
						<div class="sl-thumb set-bg" data-setbg=""></div>
					</div>
					<div class="single-list-content">
						<div class="row">
							<div class="col-xl-8 sl-title">
								<h2>{{local.ville}}</h2>
								<p><i class="fa fa-map-marker"></i>{{local.adresse}}</p>
							</div>
							<div class="col-xl-4">
								<a href="#" class="price-btn">{{local.prix}}</a>
							</div>
						</div>
						<h3 class="sl-sp-title">Property Details</h3>
						<div class="row property-details-list">
							<div class="col-md-4 col-sm-6">
								<p><i class="fa fa-th-large"></i> 1500 Square foot</p>
								
								<p><i class="fa fa-user"></i> categorie ?</p>
							</div>
							<div class="col-md-4 col-sm-6">
								<p><i class="fa fa-car"></i>  Garages</p>
								<p><i class="fa fa-bed"></i> {{local.chambres}} Bedrooms</p>
							
							</div>
							<div class="col-md-4">
								
								<p><i class="fa fa-trophy"></i>  years age</p>
							</div>
						</div>
						<h3 class="sl-sp-title">Description</h3>
						<div class="description">
							<p>{{ local.services|join(', ') }}</p>
							</div>
						</div>
                    </div>
					
            </div>
		</div>
    </section>




{% endblock %}
