
<!DOCTYPE html>
<html lang="en">
<head>

      
	<meta charset="UTF-8">
	<meta name="description" content="LERAMIZ Landing Page Template">
	<meta name="keywords" content="LERAMIZ, unica, creative, html">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Favicon -->   
	<link href="{{ asset('template/img/estate-agent.ico') }}" rel="shortcut icon"/>

	<!-- Google Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="{{ asset('template/css/bootstrap.min.css') }}"/>
	<link rel="stylesheet" href="{{ asset('template/css/font-awesome.min.css') }}"/>
	<link rel="stylesheet" href="{{ asset('template/css/animate.css') }}"/>
	<link rel="stylesheet" href="{{ asset('template/css/owl.carousel.css') }}"/>
	<link rel="stylesheet" href="{{ asset('template/css/style.css') }}"/>


	<!--[if lt IE 9]>
	  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
	  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->

</head>
<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>
	
	<!-- Header section -->
	<header class="header-section">
		<div class="header-top">
			<div class="container">
				<div class="row">
					<div class="col-lg-6 header-top-left">
						<div class="top-info">
							<i class="fa fa-phone"></i>
							(+216) 73 000 111
						</div>
						<div class="top-info">
							<i class="fa fa-envelope"></i>
							hatem_hamza@domain.com
						</div>
					</div>
					<div class="col-lg-6 text-lg-right header-top-right">
						<div class="top-social">
							<a href=""><i class="fa fa-facebook"></i></a>
							<a href=""><i class="fa fa-twitter"></i></a>
							<a href=""><i class="fa fa-instagram"></i></a>
							<a href=""><i class="fa fa-pinterest"></i></a>
							<a href=""><i class="fa fa-linkedin"></i></a>
						</div>
						<div class="user-panel">
							<a href=""><i class="fa fa-user-circle-o"></i> Register</a>
							<a href="/login"><i class="fa fa-sign-in"></i> Login</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="site-navbar">
						<a href="#" class="site-logo"><img src="{{ asset('template/img/estate-agent.png')}}" alt=""></a>
						<div class="nav-switch">
							<i class="fa fa-bars"></i>
						</div>
						<ul class="main-menu">
							<li><a href="/home">Home</a></li>
							<li><a href="/home/#TORENT">TO RENT</a></li>
							<li><a href="/home/#TOSELL">TO SELL</a></li>
							<li><a href="/home/about">ABOUT US</a></li>
							<li><a href="/home/page">Pages</a></li>
							<li><a href="/home/contact">Contact</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- Header section end -->



 {% block content %}{% endblock %}


	<!-- Footer section -->
	<footer class="footer-section set-bg" data-setbg="{{ asset('template/img/footer-bg.jpg') }}">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-6 footer-widget">
					<img src="{{ asset('template/img/estate-agent.png') }}" alt="">
					<p>Lorem ipsum dolo sit azmet, consecter dipise consult  elit. Maecenas mamus antesme non anean a dolor sample tempor nuncest erat.</p>
					<div class="social">
						<a href="#"><i class="fa fa-facebook"></i></a>
						<a href="#"><i class="fa fa-twitter"></i></a>
						<a href="#"><i class="fa fa-instagram"></i></a>
						<a href="#"><i class="fa fa-pinterest"></i></a>
						<a href="#"><i class="fa fa-linkedin"></i></a>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 footer-widget">
					<div class="contact-widget">
						<h5 class="fw-title">CONTACT US</h5>
						<p><i class="fa fa-map-marker"></i>iset, riath, sousse </p>
						<p><i class="fa fa-phone"></i>(+216) 73 000 111</p>
						<p><i class="fa fa-envelope"></i>hatem_hamza@domain.com</p>
						<p><i class="fa fa-clock-o"></i>Mon - Sat, 08 AM - 06 PM</p>
					</div>
				</div>
				<div class="col-lg-3 col-md-6 footer-widget">
					<div class="double-menu-widget">
						<h5 class="fw-title">POPULAR PLACES</h5>
						<ul>
							<li><a href="">Sousse</a></li>
							<li><a href="">Tunis</a></li>
							<li><a href="">Bizert</a></li>
							
						</ul>
						<ul>
							<li><a href="">sfax</a></li>
							<li><a href="">monastir</a></li>
							<li><a href="">mahdiya</a></li>
							
						</ul>
					</div>
				</div>
				<div class="col-lg-3 col-md-6  footer-widget">
					<div class="newslatter-widget">
						<h5 class="fw-title">NEWSLETTER</h5>
						<p>Subscribe your email to get the latest news and new offer also discount</p>
						<form class="footer-newslatter-form">
							<input type="text" placeholder="Email address">
							<button><i class="fa fa-send"></i></button>
						</form>
					</div>
				</div>
			</div>
			<div class="footer-bottom">
				<div class="footer-nav">
					<ul class="main-menu">
							<li><a href="/home">Home</a></li>
							<li><a href="/home/#TORENT">TO RENT</a></li>
							<li><a href="/home/#TOSELL">TO SELL</a></li>
							<li><a href="/home/about">ABOUT US</a></li>
							<li><a href="/home/page">Pages</a></li>
							<li><a href="/home/contact">Contact</a></li>
						</ul>
				</div>
				<div class="copyright">
					<p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">dreams</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer section end -->
     <!-- load for map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0YyDTa0qqOjIerob2VTIwo_XVMhrruxo"></script>
	<script src="{{ asset('template/js/map.js') }}"></script>

                                   
	<!--====== Javascripts & Jquery ======-->
	<script src="{{ asset('template/js/jquery-3.2.1.min.js') }}"></script>
	<script src="{{ asset('template/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('template/js/owl.carousel.min.js') }}"></script>
	<script src="{{ asset('template/js/masonry.pkgd.min.js') }}"></script>
	<script src="{{ asset('template/js/magnific-popup.min.js') }}"></script>
	<script src="{{ asset('template/js/main.js') }}"></script>
</body>
</html>