{% extends 'Admin/index.html.twig' %}

{% block sidebar %}
<ul class="nav flex-column">
  <li class="nav-item">
    <a class="nav-link active" href="#">
      <span data-feather="home"></span>
      Dashboard <span class="sr-only">(current)</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <span data-feather="file"></span>
      Products
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">
      <span data-feather="file"></span>
      Categories
    </a>
  </li>
</ul>
{% endblock %}

{% block content %}
{#Products#}
<div class="container">
  <div class="col-md-12">
    <div class="card-deck mb-3 text-center">

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
        <h4 class="my-0 font-weight-normal">Products</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">### <small class="text-muted">Total</small></h1>
          {#<ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <li>Email support</li>
          <li>Help center access</li>
          </ul>#}
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Manage</button>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
        <h4 class="my-0 font-weight-normal">Categories</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">### <small class="text-muted">Total</small></h1>
          {#<ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <li>Email support</li>
          <li>Help center access</li>
          </ul>#}
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Manage</button>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
        <h4 class="my-0 font-weight-normal">Orders</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">### <small class="text-muted">Total</small></h1>
          {#<ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <li>Email support</li>
          <li>Help center access</li>
          </ul>#}
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Manage</button>
        </div>
      </div>

      <div class="card mb-4 shadow-sm">
        <div class="card-header">
        <h4 class="my-0 font-weight-normal">Feedback</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">### <small class="text-muted">Total</small></h1>
          {#<ul class="list-unstyled mt-3 mb-4">
          <li>10 users included</li>
          <li>2 GB of storage</li>
          <li>Email support</li>
          <li>Help center access</li>
          </ul>#}
          <button type="button" class="btn btn-lg btn-block btn-outline-primary">Manage</button>
        </div>
      </div>

    </div>
  </div>
</div>
{% endblock %}