{% extends 'admin.html.twig' %}
{% block title %}{{title}}{% endblock %}
{% block body %}
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="{{ path('admin') }}">Hamza Hajji</a>
      {#<input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">#}
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/logout">Sign out</a>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            {% block sidebar %}{% endblock %}  
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>
          </div>
          <h2>{% block sectiontitle %}{% endblock %}</h2>
            {% block content %}

            {% endblock %}
        </main>
      </div>
    </div>
{% endblock %}