{% extends 'dashboardBase.html.twig' %}
{% block body %}
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Agence</a>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
          <a class="nav-link" href="/logout">Sign out</a>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a class="nav-link active" href="/dashboard">
                  <span data-feather="home"></span>
                  Dashboard <span class="sr-only">(current)</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard/locale/list/">
                  <span data-feather="file"></span>
                  Liste Locale
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/dashboard/locale/add/">
                  <span data-feather="file"></span>
                  Ajouter Locale
                </a>
              </li>
            </ul>  
          </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
            <h1 class="h2">Dashboard</h1>
            <div class="btn-toolbar mb-2 mb-md-0">
            </div>
          </div>
          <h2>{% block sectiontitle %}Test{% endblock %}</h2>
            {% block content %}
              {% block sessionMessage %}{% endblock %}
            {% endblock %}
        </main>
      </div>
    </div>
{% endblock %}