{% extends 'Dashboard/index.html.twig' %}
{% block sectiontitle %}Liste Des Locales{% endblock %}
{% block content %}

{% for msg in app.session.flashbag.get('Info') %}
      <div class="alert alert-success" role="alert">
        {{msg}}
      </div>
{% endfor %}
{% for updatemsg in app.session.flashbag.get('Update') %}
      <div class="alert alert-success" role="alert">
        {{updatemsg}}
      </div>
{% endfor %}
{% for delmsg in app.session.flashbag.get('Delete') %}
      <div class="alert alert-info" role="alert">
        {{delmsg}}
      </div>
{% endfor %}

<table class="table table-sm">
              <thead>
                <tr>
                  <th>#</th>
                  <th>Type</th>
                  <th>Surface</th>
                  <th>Chambres</th>
                  <th>Ville</th>
                  <th>Adresse</th>
                  <th>Prix</th>
                  <th>Services</th>
                  <th>Images</th>
                  <th></th>
                </tr>
              </thead>
                <tbody>
                {% for locale in rez %}
                <tr>
                   <td style="padding-top:10px;">{{locale.id}}</td>
                    <td style="padding-top:10px;">{{locale.type}}</td>
                    <td style="padding-top:10px;">{{locale.surface}}</td>
                    <td style="padding-top:10px;">S+{{locale.chambres}}</td>
                    <td style="padding-top:10px;">{{locale.ville}}</td>
                    <td style="padding-top:10px;">{{locale.adresse}}</td>
                    <td style="padding-top:10px;">{{locale.prix}}</td>
                    <td style="padding-top:10px;">
                      {{ locale.services|join(', ') }}
                    </td>
                    <td style="padding-top:10px;">
                    <img width="25" height="25" class="img-rounded" src="{{ asset("uploads/photos/#{locale.img1}") }}"/>
                    <img width="25" height="25" class="img-rounded" src="{{ asset("uploads/photos/#{locale.img2}") }}"/>
                    <img width="25" height="25" class="img-rounded" src="{{ asset("uploads/photos/#{locale.img3}") }}"/>
                    </td>
                    <td style="padding:0px;"><a class="btn btn-default btm-lg" href="/dashboard/locale/del/{{locale.id}}" id="removeLocale">
                    <i class="fa fa-trash-o"></i>
                    </a>
                    <a class="btn btn-default btm-lg" href="/dashboard/locale/update/{{locale.id}}" id="updateLocale">
                    <i class="fa fa-pencil-square-o"></i></a>
                    </td> 
                </tr>
                {% endfor %}
                </tbody>
            </table>


{% endblock %}