{% extends 'Dashboard/index.html.twig' %}
{% block sectiontitle %} Modifier Locale #{{rez.id}} {% endblock %}

{% block content %}
{% for updatemsg in app.session.flashbag.get('Update') %}
      <div class="alert alert-success" role="alert">
        {{updatemsg}}
      </div>
{% endfor %}
<div class="row">
      <div class="col-md-6">
      <div class="form-group" id="edit_form">
            {{ form_start(form) }}
            {{ form_label(form.surface)}}
            {{ form_widget(form.surface, { 'attr': {'class': 'form-control'} })  }}<br>
            {{ form_label(form.chambres)}}
            {{ form_widget(form.chambres, { 'attr': {'class': 'form-control'} })  }}<br>
            {{ form_label(form.ville)}}
            {{ form_widget(form.ville, { 'attr': {'class': 'form-control'} })  }}<br>
            {{ form_label(form.adresse)}}
            {{ form_widget(form.adresse, { 'attr': {'class': 'form-control'} })  }}<br>
            {{ form_widget(form.Modifier, { 'attr': {'class': 'btn btn-lg btn-primary'} })  }}
      </div>
      </div>
      <div class="col-md-6">
      <div class="form-group" id="edit_form">
            {{ form_label(form.type)}}
            {{ form_widget(form.type, { 'attr': {'class': 'form-control'} })  }}<br>
            {{ form_label(form.prix)}}
            {{ form_widget(form.prix, { 'attr': {'class': 'form-control'} })  }}<br>
            {{ form_end(form) }}
      </div>
      </div>
{% endblock %}